body {
  background-color: rgb(247, 247, 247);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(47, 133, 121);
  color: rgb(255,255,255);
  width: 100%;
  margin: 10px;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 70%;
  margin: auto;
}
